.link {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.link a {
  color: blue;
}

.erro {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: none;
  }
  
  