.slider {
  height: 350px;
  margin: 60px auto;
  position: relative;
  width: 70%;
  display: grid;
  place-items: center;
  overflow-x: hidden;
}

.slider-track {
  display: flex;
  height: 85%;
  width: calc(250px * 12);
  animation: scroll 40s linear infinite;
}

.slider-track:hover {
  animation-play-state: paused;
  cursor: grab;
}

@keyframes scroll {
  0% {
    transform: translateX(1);
  }

  100% {
    transform: translateX(calc(-240px * 6));
  }
}

.slide {
  height: 300px;
  width: 220px;
  display: flex;
  align-items: center;
  padding: 10px;
  perspective: 100px;
}

img {
  height: 280px;
  width: 200px;
  transition: transform 0.5s;
}

img:hover {
  cursor: pointer;
  transform: scale(1.1)
}

/* SHADOWS */
.slider::before,
.slider::after {
  background: linear-gradient(to right, #f4e1d2 0%, rgba(255, 255, 255, 0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slider::before {
  left: 0;
  top: 0;
}

.slider::after {
  right: 0;
  top: 0;
  transform: rotateZ(180deg);
}