.login-container h2 {
    margin: 20px 20vh;
    text-align: center;
}

.link a {
    color: blue;
}

.erro {
    color: red;
    font-size: 12px;
    margin-top: 5px;
    margin-bottom: 10px;
    display: none;
  }
  