/* Estilo geral */
*{
  margin: 0%;
  padding: 0%;
}


body {

    background-color: #f4e1d2; /* Cor creme, como papel envelhecido */
    color: #4b3a31; /* Cor marrom escuro, lembrando tinta de antigamente */
    height: 100%;
  }
  
  /* Cabeçalho */
  header {
    background-color: #5a2d0c; /* Cor marrom escura */
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 5px 6px rgba(0, 0, 0, 0.1);
  }
  
  .logo{
    display: flex;
    font-family: "Merriweather", serif;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 4px;
    
    
  }

  .p1 {
    color: #fff;
    background-clip: content-box;
    background: linear-gradient(0deg, #b8b7b7 2%, #fff 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .p2 {
    color: #d3a15c;
    background-clip: content-box;
    background: linear-gradient(0deg, #6a4e23 2%, #d3a15c 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  
  /* Menu */
  nav ul {
    list-style: none;
    display: flex;
    gap: 35px;
  }
  
  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    font-size: 18px;
  }
  
  nav a:hover {
    color: #d3a15c; /* Cor dourada que remete à luz suave */
  }
  
  .livros-lista, .desafios-lista, .fichamentos-lista, .turmas-lista {
    margin-top: 100px;
  }

  .corp-title, .corp-theme-carrossel{
    margin-top: 40px;
    display: grid;
    justify-content: center;
  }
  
  .corp-title .title, .theme-carrossel, .login-container h2, .cadastro-container h2 {
    font-family: "Playfair Display", sans-serif;
    color: #fff;
    background-color: #5a2d0c;
    box-shadow: black 2px 2px 10px;
    padding: 2px 10px;
   
  }

  .livro-item, .turma-item, .fichamento-item, .desafio-item {
    background-color: #fff8e1; /* Fundo envelhecido */
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    border: 2px solid #d3a15c; /* Bordas douradas */
  }
  
  .livro-item h3, .turma-item h3, .fichamento-item h3, .desafio-item h3 {
    font-size: 20px;
    margin-bottom: 10px;
    font-family: "PT Sans", sans-serif;
    color: #4b3a31;
  }
  
  .livro-item a, .turma-item a, .fichamento-item a, .desafio-item a {
    color: #6a4e23;
    font-weight: bold;
    text-decoration: none;
    font-size: 16px;
  }
  
  .livro-item a:hover, .turma-item a:hover, .fichamento-item a:hover, .desafio-item a:hover {
    color: #d3a15c;
  }
  
  /* Rodapé */
  footer {
    background-color: #5a2d0c;
    color: #fff;
    text-align: center;
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 10;
    padding: 10px;
    margin-bottom: 20px;
  }
  
  /* Estilo do link */
  a {
    color: #6a4e23;
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }

  .menu{
    justify-content: center;
  }

  
    /* LOGIN & CADASTRO */
    .login-container, .cadastro-container {
      display: grid;
      justify-content: center;
      margin-top: 30px;
    }
  
    .box {
      padding: 10px;
    }
  
    .label {
      font-family: "Playfair Display";
    }
  
    .box input {
      border-radius: 4px;
      border: solid black 1px;
      height: 25px;
      width: 50vh;
    }
  
    .btn {
      display: grid;
      justify-content: center;
      padding: 15px;
    }
  
    .btn button {
      font-family: "Koulen";
      font-size: 18px;
      color: #fff;
      background-color: #daa520;
      border-radius: 4px;
      border: none;
      height: 30px;
      width: 25vh;
    }
  
  @media screen and (max-width: 540px) {

    .logo{
      font-size: 8px;
    }

    nav ul {
      gap: 15px;
    }
    .livros-lista h2, .turmas-lista h2, .fichamentos-lista h2, .desafios-lista h2, .theme-carrossel {
      font-size: 17px;
    }

     .bola
     {
       display: none;
     }

  }
  
  @media screen and (max-width: 1247px) {

  }
